// Customize Buttons
$btn-font-size: $fs-md;
$btn-font-weight: 600;
$btn-font-family: $ff-secondary;
$btn-padding-y: 0.85rem;
$btn-padding-x: 1.75rem;
$btn-transition: all 300ms linear;
$btn-border-radius: 0;


.blog-pagination-arrow{
    background-color: $black;
    color: $white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    @extend .fs-4xl, .d-flex, .justify-content-center, .align-items-center, .rounded-pill, .py-2, .px-4;

    &:hover{
        /* gra */
        background: linear-gradient(120.22deg, #FFCA00 14.3%, rgba(248, 66, 8, 0.38) 67.99%, rgba(248, 248, 248, 0) 123.4%);
    }
}
