// OTHER COLORS
$white:    #fff !default;
$gray-100: #F8F9FA !default;
$gray-200: #EFEFEF !default;
$gray-300: #D9DBE1 !default;
$gray-400: #ced4da !default;
$gray-500: #a3a5ad !default;
$gray-600: #6c757d !default;
$gray-700: #475467 !default;
$gray-800: #343a40 !default;
$gray-900: #101828 !default;
$black:    #000 !default;


// COLORS
$danger: #f93042;
$success: #00ab55;
$secondary: #a4a5ad;
$warning: #FFCA00;
$primary: $warning;
$dark:$gray-900;

