// FORM CONTROL
$input-placeholder-color: $black;
$input-color: $black;
$input-font-weight: 600;

// $input-padding-y: .5rem;
// $input-padding-x: 1.25rem;
// $input-bg: $gray-100;
// $input-font-size: $fs-md;
// $input-font-weight: 400;
// $input-line-height: 1;
// $input-border-color: $gray-200;
// // $input-box-shadow: none;

// // Form Label
// $form-label-font-weight: 600;
// $form-label-font-size: $fs-md;
